/*----------------------------------
base color
------------------------------------ */
$black-color: #000000;
$white-color: #ffffff;
$gray-light-color: #cccccc;

/*----------------------------------
component color
------------------------------------ */

// not-found.components
$not-found-bg-color: #212121;
$not-found-bg-cover-color: #EEEEEE;
$not-found-bg-in-cover-color: #AAAAAA;
$not-found-bg-bulb-color: #F5D76E;
$not-found-border-bottom-light-color: rgba(100, 100, 100, 0.45);
