<!-- Lamp -->
<div class="lamp">
  <div class="cable"></div>
  <div class="cover"></div>
  <div class="in-cover">
    <div class="bulb"></div>
  </div>
  <div class="light"></div>
</div>
<!-- END Lamp -->
<section class="error">
  <!-- Content -->
  <div class="error__content">
    <div class="error__message">
      <h1 class="message__title">Page Not Found</h1>
      <p class="message__text">We're sorry, the page you were looking for isn't found here. The link you followed may
        either be broken or no longer exists. Please try again, or take a look at our site.
      </p>
    </div>
    <div class="error__nav">
      <a href="#" class="e-nav__link"></a>
      <form action="#" class="e-nav__form">
        <input type="text" placeholder="search" class="e-nav__search">
        <span class="e-nav__icon icon-search"></span>
      </form>
    </div>
  </div>
  <!-- end Content -->
  <!-- Social -->
  <div class="error__social">
    <ul class="e-social__list">
      <li class="e-social__icon">
        <a href="#" class="e-social__link">
          <span class="icon-twitter"></span>
        </a>
      </li>
      <li class="e-social__icon">
        <a href="#" class="e-social__link">
          <span class="icon-facebook"></span>
        </a>
      </li>
      <li class="e-social__icon">
        <a href="#" class="e-social__link">
          <span class="icon-google-plus"></span>
        </a>
      </li>
    </ul>
  </div>
  <!-- end Social -->
</section>
